@mixin grid($para2, $para3, $para4, $para5, $para6, $para7) {
    //for css grid properties somecase
    display: grid;
    grid-template-columns: repeat($para2, $para3);
    align-items: $para4;
    justify-content: $para5;
    padding-left: $para6;
    padding-right: $para7;

}

@mixin gridmost($para1, $para2, $para3, $para4) {
    //grid for most cases to be used
    display: grid;
    grid-template-columns: repeat($para1, $para2);
    grid-gap: $para3 $para4;
}

@mixin flex($para1, $para2) {
    //for flex type layouts
    display: flex;
    align-items: center;
    justify-content: $para1;
    gap: $para2;
}

@mixin font ($para1, $para2, $para3, $para4, $para5) {
    // for font styling
    font-weight: $para1;
    font-size: $para2;
    line-height: $para3;
    color: $para4;
    width: $para5;
}

@mixin svg($para1, $para2) {
    //for svg image styling
    fill: $para1;
    opacity: $para2;

}

@mixin img($para1, $para2, $para3) {
    //for image stylings
    background-position: $para1;
    background-size: $para2;
    height: $para3;
    width: 100%;
}

@mixin btn($para1, $para2, $para3, $para4, $para5) {
    //for button stylings
    height: $para1;
    width: $para2;
    border-radius: $para3;
    border: 1px solid $para4;
    padding: $para5;
    cursor: pointer;

}

@mixin position($para1, $para2, $para3, $para4) {
    //for positioning component in div
    position: absolute;
    top: $para1;
    bottom: $para2;
    left: $para3;
    right: $para4;
}

@mixin section($para1, $para2, $para3, $para4) {
    //for different cards styling
    width: $para1;
    height: $para2;
    padding: $para3 $para4;
    box-sizing: border-box;

}

@mixin cardfeature($para1, $para2, $para3, $para4, $para5) {
    //for different cards styling
    width: $para1;
    height: $para2;
    border-radius: $para3;
    box-shadow: $para4;
    padding: $para5;
    box-sizing: border-box;
}

@mixin inputbox($para1, $para2, $para3, $para4, $para5) {
    //for input box in forms styling
    width: $para1;
    height: $para2;
    border-radius: $para3;
    border: $para4;
    padding: $para5
}

@mixin Size($para1, $para2) {
    //for div size
    width: $para1;
    height: $para2;
}

@mixin ImgInside() {
    // for the  div and also img inside the div
    width: 100%;
    height: 100%;
}

@mixin focus() {
    outline: none;
    border: 2px solid rgb(34, 109, 170);
}