@import 'mixin.scss';

.resource-section {
    padding: 80px null;

    .container {
        @include flex(null, 48px);
        flex-direction: column;

        .header {
            @include flex(null, 48px);
            flex-direction: column;
            text-align: center;
            flex-wrap: wrap;

            h2 {
                @include font(600, 32px, 40px, #24272E, null);
            }

            p {
                @include font(400, 18px, 27px, #667085, null);
            }
        }

        .resource-card-container {
            @include flex(center, 19px);
            flex-wrap: wrap;

            div:nth-child(3) {

                //for 3rd child background color which is different
                .card>.icon-container>.icon {
                    background: #FAE6E0;
                }
            }

            div:nth-child(1) {

                // fro adding the name of first card like in design
                .card>.icon-container::after {
                    content: 'tool';
                }
            }
        }
    }

    .resource-btn {
        margin-top: 32px;
        display: flex;
        justify-content: center;
        padding: 10px 16px 10px 16px;

        button {
            background: transparent;
            @include btn(44px, 200px, 4px, #1D6FA3, null);
            transition: 0.6s ease-out;
            @include flex(center, null);

            p {
                @include font(700, 16px, 24px, #24272E, 141px);
            }

            &:hover {
                box-shadow: inset 250px 0 0 #A276FF;

                p {
                    color: #fff;
                }
            }
        }

    }
}

@media (min-width:764px) {
    .container {
        .header {
            h2 {
                @include font(600, 32px, 40px, #24272E, 768px);
            }

            p {
                @include font(400, 18px, 27px, #667085, 450px);
            }
        }
    }
}